main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.userAvatar {
  width: 32px;
  height: 32px;
  background-color: #3264ff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  transform: scale(0.92);
}
